<p>El nombre es (sin pipe)  {{nombre}}</p>
<p>El nombre es {{nombre | uppercase}}</p>
<p>El nombre es {{nombre | lowercase}}</p>
<p>La pasta es (sin pipe) {{pasta }}</p>
<p>La pasta es {{pasta | currency:'€'}}</p>
<p>La fecha de hoy es (sin pipe)  {{fechaHoy}}</p>
<p>La fecha de hoy es {{fechaHoy | date:'d/M/y' }}</p>
<p>La fecha de hoy es {{fechaHoy | date:'dd/MM/yyyy' }}</p>
<p>Los alumnos son (sin pipe)  {{alumnos}}</p>
<p>Los alumnos son {{alumnos | slice:2:4}}</p>
<p *ngFor="let i of meses">
    (sin pipe) {{i}}
</p>

<p *ngFor="let i of meses">
  {{i | mesesTexto}}
</p>
